html {
	height: 100%;
	width: 100%;
}
.jidlo {
	padding: 0.1em;
	background-color: white;
	cursor: move;
	position: absolute;
	left: 5px;
	border: 3px solid gray;
	top: 5px;
	left: 5px
}
.lednicka {
	width: 300px;
	height: 500px;
	margin: auto;
	padding: 0.5em;
	top: 20px;
	background-color: gray;
}
.box {
	width: 300px;
	height: 400px;
	margin: auto;
	padding: 0.5em;
	top: 20px;
	background-color: red;
}