html, body {
	height: 100%;
	width: 100%;
}
* {
	margin: 0px;
}
.jidlo {
	background-color: white;
	cursor: move;
	position: absolute;
	border: 3px solid gray;
	top: 60%;
}
.box {
	width: 25%;
	height: 30%;
	top: 20%;
	position: absolute;
}